.header__text span {
  font-size: 5.695rem;
  margin-left: -4px;
}

.it {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.header__social {
  display: flex;
  justify-content: center;
}

.header__social a {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
}
